<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    <main>
        <form>
            <h2>sign up</h2>
            <label for="email">Email</label>
            <input type="text" name="email" required>
            <div class="email error"></div>
            <label for="password">password</label>
            <input type="password" name="password" required>
            <div class="password error"></div>
            <button>sign up</button>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
      </footer>
      
</body>
</html>