<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    <ul>
      <li><a href="/logout">logout</a></li>
    </ul>
    <main>
        <h1>this is a protected resource only logged in users can see</h1>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
      
</body>
</html>